.subjects-per-group {
  max-width: 1200px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

h2 {
  text-align: center;
}

.year-form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.year-form label {
  margin-right: 10px;
  font-size: 1.2em;
}

.year-form input {
  padding: 10px;
  font-size: 1.1em;
  width: 200px;
  margin-right: 10px;
}

.year-form button {
  background: linear-gradient(135deg, #4caf50, #2ecc71);
  color: white;
  padding: 12px 25px;
  font-size: 1.1em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s;
  /* width: 100%; */
}
.year-form button:hover{
  background: linear-gradient(135deg, #2ecc71, #4caf50);
  transform: scale(1.05);
}
.loading-message,
.error-container {
  text-align: center;
  font-size: 1.2em;
  color: #555;
}

.error-container .error-message {
  background-color: #f8d7da;
  border: 1px solid #f5c6cb;
  padding: 20px;
  margin-top: 20px;
}

.retry-button {
  background-color: #ff6f61;
  color: white;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

table, th, td {
  border: 1px solid #ddd;
}

th, td {
  padding: 10px;
  text-align: center;
}

th {
  background-color: #f2f2f2;
}

/* Hover effect for table rows */
tbody tr {
  cursor: pointer; /* Change cursor to indicate clickability */
  transition: background-color 0.3s ease; 
}

tbody tr:hover {
  background-color: #e9f7f6; 
}

tbody tr:active {
  background-color: #c1e1e1; 
}
